@font-face {
    font-family: 'GothaProReg';
    src: url("../fonts/GothaProReg.otf") format("opentype");
}
@font-face {
    font-family: 'GothaProMed';
    src: url("../fonts/GothaProMed.otf") format("opentype");
}
@font-face {
    font-family: 'GothaProBol';
    src: url("../fonts/GothaProBol.otf") format("opentype");
}

body {
    font-size: 14px;
    font-family: 'GothaProReg';
    background-color: #fff;
    a {
        text-decoration: none;
    }
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 105px;
    & > div {
        display: flex;
        align-items: center;
    }
    .header-logo {
        width: 170px;
        margin-right: 30px;
        &__img {
            display: block;
            background-image: url(../img/logo.png);
            width: 166px;
            height: 45px;
        }
    }
    .header-navigation {
        list-style-type: none;
        display: flex;
        padding: 0;
        margin: 0;
        &__item {
            margin-right: 42.5px;
        }
        &__link {
            text-transform: uppercase;
            font-family: 'GothaProMed';
            font-size: 12px;
            color: #000;
            border-bottom: 1px solid #bfbfbf;
            transition: 0.3s;
            &:hover {
                color: #116ff1;
                padding-bottom: 3px;
                border-bottom-color: transparent;
            }
        }
    }
    .header-btn {
        margin-left: 30px;
        height: 45px;
        width: 170px;
        background-color: #fe9c10;
        border: 0;
        color: #fff;
        font-family: 'GothaProMed';
        font-size: 12px;
        outline: none;
        cursor: pointer;
    }
    .header-phone {
        font-size: 18px;
        font-family: 'GothaProBol';
        color: #000;
    }
}
.home-box {
    background-image: url(../img/main-bg.jpg);
    height: 990px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 17px;
    .home-info {
        margin-left: 98px;
        font-family: 'GothaProMed';
        color: #fff;
        &__title {
            font-size: 40px;
            text-transform: uppercase;
            max-width: 490px;
            line-height: 59px;
            padding-top: 65px;
            margin-top: 0;
            margin-bottom: 40px;
            letter-spacing: 2px;
            & > span {
                font-size: 18px;
                text-transform: initial;
                font-family: 'GothaProBol';
                letter-spacing: 0px;
            }
        }
        &__description {
            line-height: 20px;
            display: flex;
            align-items: center;
            margin-top: 0;
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 80px;
            }
        }
        &__icon {
            display: block;
            width: 40px;
            height: 40px;
            margin-right: 30px;
        }
        &__icon.icon1 {
            background-image: url(../img/main-desk1.png);
        }
        &__icon.icon2 {
            background-image: url(../img/main-desk2.png);
        }
    }
    .home-form {
        background-color: #fff;
        height: 420px;
        box-shadow: 0px 0px 50px 4px rgba(0,0,0,0.5);
        .form-content {
            margin-left: 100px;
            position: relative;
            input {
                width: 270px;
                height: 65px;
                padding: 0;
                margin: 0;
                border: 0;
                background-color: #f7f7f7;
                box-sizing: border-box;
                padding-left: 30px;
                &::placeholder {
                    color: #7b7b7b;
                    font-size: 12px;
                    letter-spacing: 0.5px;
                }
                z-index: 2;
            }
            .flex-group {
                display: flex;
                margin-top: 27px;
                z-index: 2;
                p {
                    color: #000;
                    line-height: 18px;
                    font-family: 'GothaProMed';
                    margin: 0;
                    letter-spacing: -0.1px;
                    font-size: 12px;
                    & > span {
                        display: block;
                        margin-top: 16px;
                        &:before {
                            content: '* ';
                        }
                    }
                }
            }
            .home-form__name {
                margin-right: 26px;
            }
        }
        &__img {
            position: absolute;
            top: 0;
            right: 0;
        }
        &__title {
            font-size: 24px;
            font-family: 'GothaProBol';
            text-transform: uppercase;
            margin-top: 0;
            padding-top: 70px;
            letter-spacing: 1px;
            & > span {
                display: block;
                text-transform: initial;
                font-size: 20px;
                margin-top: 21px;
                margin-bottom: 72px;
                position: relative;
                z-index: 1;
                max-width: 620px;
                letter-spacing: initial;
                &:before {
                    content: "";
                    position: absolute;
                    height: 12px;
                    width: 201px;
                    background-color: #fe9c10;
                    display: block;
                    z-index: -1;
                    left: 100px;
                    top: 13px;
                }
                &:after {
                    content: "";
                    position: absolute;
                    height: 12px;
                    width: 165px;
                    background-color: #fe9c10;
                    display: block;
                    z-index: -1;
                    left: 325px;
                    top: 13px;
                }
            }
        }
        &__btn {
            width: 270px;
            height: 67px;
            background-color: #fe9c10;
            border: 0;
            color: #fff;
            font-size: 14px;
            margin-right: 27px;
            text-transform: uppercase;
            font-family: 'GothaProBol';
            cursor: pointer;
            outline: none;
        }
    }
}
.advantages-box {
    background-color: #18355d;
    .advantages-info {
        display: flex;
        padding-bottom: 61px;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
        &__icon {
            display: block;
            width: 70px;
            height: 70px;
            margin-right: 30px;
        }
        &__icon.icon-1 {
            background-image: url(../img/icon-1.png);
        }
        &__icon.icon-2 {
            background-image: url(../img/icon-2.png);
        }
        &__icon.icon-3 {
            background-image: url(../img/icon-3.png);
        }
        &__item {
            color: #fff;
            display: flex;
        }
        &__description {
            width: 270px;
            margin: 0;
            line-height: 24px;
        }
        &__title {
            margin-top: 0;
            margin-bottom: 18px;
            font-size: 18px;
            font-family: 'GothaProMed';
        }
    }
}
.popular-box {
    &__title {
        text-transform: uppercase;
        font-family: 'GothaProBol';
        font-size: 24px;
        text-align: center;
        margin-top: 81px;
        margin-bottom: 82px;
        letter-spacing: 1px;
    }
    .popular-filter {
        margin-bottom: 59px;
        &-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            max-width: 842px;
            margin: 0 auto;
            &__item {
                font-family: 'GothaProMed';
                color: #18355d;
                text-transform: uppercase;
                border-bottom: 1px solid #bfbfbf;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    color: #116ff1;
                    border-bottom-color: transparent;
                }
            }
        }
    }
    .popular-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 60px;
        margin-bottom: 90px;
        &-item {
            text-align: center;
            &__img {
                width: 100%;
                margin-bottom: 22px;
            }
            &__square {
                margin-top: 23px;
                margin-bottom: 21px;
            }
            &__name {
                color: #18355d;
                font-size: 18px;
                border-bottom: 1px solid #bfbfbf;
            }
            &__old-price {
                color: #a3a3a3;
                text-decoration: line-through;
            }
            &__current-price {
                font-size: 20px;
                font-family: 'GothaProMed';
                color:#000;
                margin-top: -4px;
                margin-bottom: 29px;
            }
            &__btn {
                cursor: pointer;
                width: 270px;
                height: 65px;
                background-color: #fe9c10;
                border: 0;
                color: #fff;
                text-transform: uppercase;
                font-family: 'GothaProBol';
                cursor: pointer;
                outline: none;
            }
        }
    }
}
.banners-box {
    padding-bottom: 70px;
    padding-top: 94px;
    .banner-item {
        display: block;
        width: 100%;
        position: relative;
        margin-bottom: 26px;
        &__img {
            width: 100%;
        };
        &__content {
            position: absolute;
            top: 63px;
            right: 90px;
            width: 480px;
        }
        &__title {
            color:#000;
            font-size: 24px;
            font-family: 'GothaProBol';
            text-transform: uppercase;
            margin-bottom: 87px;
            letter-spacing: 1px;
        }
        &-list {
            color:#000;
            font-size: 18px;
            list-style-type: none;
            padding: 0;
            margin: 0;
            &__item {
                margin-bottom: 36px;
                display: flex;
                align-items: center;
                &:before {
                    content: url(../img/check-symbol.png);
                    margin-right: 30px;
                }
            }
        }
    }
}
.services-box {
    background-color: #ecf4fb;
    text-align: center;
    padding-bottom: 90px;
    .services-title {
        font-size: 24px;
        font-family: 'GothaProBol';
        padding-top: 84px;  
        margin-bottom: 81px;
        text-transform: uppercase;
        margin-top: 0;
        letter-spacing: 1px;
    }
    .services-description {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 90px;
        &__post {
            margin-top: 83px;
            margin-bottom: 92px;
            font-size: 20px;
        }
    }
    .services-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 16px;
            font-family: 'GothaProMed';
            img {
                width: 130px;
                height: 130px;
                display: block;
                margin-bottom: 34px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .services-form {
        background-color: #fff;
        height: 420px;
        position: relative;
        box-shadow: 0px 0px 25px 4px rgba(184,217,249,0.3);
        text-align: initial;
        .form-content {
            margin-left: 98px;
            input {
                width: 270px;
                height: 65px;
                padding: 0;
                margin: 0;
                border: 0;
                background-color: #f7f7f7;
                box-sizing: border-box;
                padding-left: 30px;
                &::placeholder {
                    color: #7b7b7b;
                    font-size: 12px;
                    letter-spacing: 0.5px;
                }
            }
            .flex-group {
                display: flex;
                margin-top: 30px;
                align-items: center;
                p {
                    color: #000;
                    line-height: 18px;
                    font-family: 'GothaProMed';
                    margin: 0;
                    z-index: 1;
                    font-size: 12px;
                }
            }
            .services-form__name {
                margin-right: 27px;
            }
        }
        &__img {
            position: absolute;
            top: 0;
            right: 0;
        }
        &__title {
            font-size: 24px;
            font-family: 'GothaProBol';
            text-transform: uppercase;
            margin-top: 0;
            padding-top: 66px;
            letter-spacing: 1px;
            & > span {
                display: block;
                text-transform: initial;
                font-size: 20px;
                margin-top: 23px;
                margin-bottom: 70px;
                position: relative;
                z-index: 1;
                letter-spacing: 0;
                &:before {
                    content: "";
                    position: absolute;
                    height: 12px;
                    width: 193px;
                    background-color: #fe9c10;
                    display: block;
                    z-index: -1;
                    left: 119px;
                    top: 13px;
                }
            }
        }
        &__btn {
            width: 270px;
            height: 65px;
            background-color: #fe9c10;
            border: 0;
            color: #fff;
            font-size: 14px;
            margin-right: 30px;
            text-transform: uppercase;
            font-family: 'GothaProBol';
            cursor: pointer;
            outline: none;
        }
    }
}
.feedbacks-box {
    padding-bottom: 90px;
    .feedbacks-title {
        font-size: 24px;
        color:#000;
        text-align: center;
        text-transform: uppercase;
        font-family: 'GothaProBol';
        margin-top: 81px;
        margin-bottom: 85px;
        letter-spacing: 1px;
    }
    .feedbacks-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        &-item {
            max-width: 370px;
            position: relative;
            z-index: 1;
            &:before {
                content: '';
                display: block;
                position: absolute;
                background-image: url(../img/feedback-border.png);
                height: 281px;
                width: 370px;
                z-index: -1;
                top: 54px;
            }
            &__user-info {
                display: flex;
                align-items: center;
                margin-bottom: 30px;
                .avatar {
                    margin-right: 20px;
                    margin-left: 40px;
                }
                span {
                    font-size: 15px;
                    letter-spacing: 0.5px;
                }
            }
            &__user-feedback {
                padding: 36px 40px 0;
                box-sizing: border-box;
            }
            &__feedback-title {
                margin-top: 0;
                font-size: 17px;
                font-family: 'GothaProMed';
                color: #293233;
                margin-bottom: 24px;
            }
            &__feedback-description {
                font-size: 15px;
                color: #293233;
                line-height: 25px;
                margin-top: 0;
                margin-bottom: 35px;
            }
        }
    }
}
.contacts-box {
    background-color: #18355d;
    .contacts-list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 315px;
        a {
            color: #fff;
            font-size: 18px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        a[href^="tel:"] {
            font-family: 'GothaProBol';
        }
        span {
            margin-bottom: 30px;
        }
        p {
            height: 60px;
            max-width: 200px;
            margin: 0;
        }
        &__phone {
            width: 40px;
            height: 40px;
            background-image: url(../img/phone-icon.png);
            display: block;
            
        }
        &__map {
            width: 28px;
            height: 40px;
            background-image: url(../img/map-icon.png);
            display: block;
        }
        &__mail {
            width: 40px;
            height: 32px;
            background-image: url(../img/mail-icon.png);
            display: block;
        }
    }
}
.map-box {
    .iframe-bg {
        background-image: url(../img/map.jpg);
        background-size: cover;
        height: 470px;
    }
    #iframe {
        display: none;
        width: 100%;
    }
}
.footer-box {
    height: 205px;
    background-color: #ecf4fb;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        font-size: 30px;
        color: #000;
    }
    a {
        font-size: 24px;
        line-height: 24px;
        color: #116ff1;
        border-bottom: 1px solid #7eb1f6;
        margin-left: 60px;
    }
}
.examples-box {
    background-color: #ecf4fb;
    .examples-title {
        color: #000;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'GothaProBol';
        margin-bottom: 90px;
        padding-top: 93px;
        letter-spacing: 1px;
    }
    .slick {
        padding-bottom: 175px;
        img {
            display: block;
            max-width: 370px;
            max-height: 270px;
        }
        .slick-slide {
            margin: 0 15px;
          }
        .slick-next:before {
            content: '';
            background-image: url(../img/arrow-right.png);
            display: block;
            width: 15px;
            height: 25px;
        }
        .slick-prev:before {
            content: '';
            background-image: url(../img/arrow-left.png);
            display: block;
            width: 15px;
            height: 25px;
        }
        .slick-next , .slick-prev {
            top: 76%;
        }
        .slick-next {
            right: calc(50% - 35px);
        }
        .slick-prev {
            left: calc(50% - 30px);
        }
    }
}
.hamburger-menu {
    display: none;
}
#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
  
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    z-index: 2;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: #000;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
  
    width: 300px;
    height: 100%;
  
    margin: 0;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
  
    color: #333;
  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
